In [1]:
import pandas as pd

In [9]:
df = pd.read_csv(r"C:\Users\RAGHU JAMMULA\OneDrive - Saint Peters University\Desktop\Capstone Project\Hospital inmoratlity.csv")

In [11]:
df.sample(5)

,Facility ID,Facility Name,Address,City/Town,State,ZIP Code,County/Parish,Telephone Number,Measure ID,Measure Name,Compared to National,Denominator,Score,Lower Estimate,Higher Estimate,Footnote,Start Date,End Date
51875,310022,WEST JERSEY HOSPITAL,100 BOWMAN DRIVE,VOORHEES,NJ,8043,CAMDEN,(856) 247-3000,MORT_30_PN,Death rate for pneumonia patients,No Different Than the National Rate,1043,18,15.9,20.1,NaN,07/01/2020,06/30/2023
48697,280020,CHI HEALTH ST. ELIZABETH,555 SOUTH 70TH ST,LINCOLN,NE,68510,LANCASTER,(402) 219-7700,COMP_HIP_KNEE,Rate of complications for hip/knee replacement...,No Different Than the National Rate,41,4.9,2.8,8.1,NaN,07/01/2020,03/31/2023
89470,670008,HOUSTON PHYSICIANS' HOSPITAL,333 N TEXAS AVENUE,WEBSTER,TX,77598,HARRIS,(281) 335-1700,PSI_90,CMS Medicare PSI 90: Patient safety and advers...,No Different Than the National Value,Not Applicable,0.90,0.43,1.37,NaN,07/01/2021,06/30/2023
66849,390067,UPMC PINNACLE HOSPITALS,409 SOUTH SECOND STREET,HARRISBURG,PA,17104,DAUPHIN,(717) 782-3131,PSI_03,Pressure ulcer rate,No Different Than the National Rate,11804,1.00,0.54,1.46,NaN,07/01/2021,06/30/2023
55196,33019F,NORTHPORT VA MEDICAL CENTER,79 MIDDLEVILLE ROAD,NORTHPORT,NY,11768,SUFFOLK,(516) 261-4400,MORT_30_AMI,Death rate for heart attack patients,Number of Cases Too Small,Not Available,Not Available,Not Available,Not Available,1,07/01/2020,06/30/2023

In [3]:
# Get a summary of all the columns and their data types
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90801 entries, 0 to 90800
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Facility ID           90801 non-null  object
 1   Facility Name         90801 non-null  object
 2   Address               90801 non-null  object
 3   City/Town             90801 non-null  object
 4   State                 90801 non-null  object
 5   ZIP Code              90801 non-null  int64
 6   County/Parish         90801 non-null  object
 7   Telephone Number      90801 non-null  object
 8   Measure ID            90801 non-null  object
 9   Measure Name          90801 non-null  object
 10  Compared to National  90801 non-null  object
 11  Denominator           90801 non-null  object
 12  Score                 90801 non-null  object
 13  Lower Estimate        90801 non-null  object
 14  Higher Estimate       90801 non-null  object
 15  Footnote              42363 non-null  object
 16  Start Date            90801 non-null  object
 17  End Date              90801 non-null  object
dtypes: int64(1), object(17)
memory usage: 12.5+ MB

In [4]:
#  Get the names of all columns
df.columns

Index(['Facility ID', 'Facility Name', 'Address', 'City/Town', 'State',
       'ZIP Code', 'County/Parish', 'Telephone Number', 'Measure ID',
       'Measure Name', 'Compared to National', 'Denominator', 'Score',
       'Lower Estimate', 'Higher Estimate', 'Footnote', 'Start Date',
       'End Date'],
      dtype='object')

In [5]:
# Check summary statistics for the Score column (e.g., mean, median, etc.)
df['Score'].describe()

count             90801
unique             3269
top       Not Available
freq              41867
Name: Score, dtype: object

In [6]:
# Check the distribution of the "Compared to National" column
df['Compared to National'].value_counts()

No Different Than the National Rate     43940
Not Available                           30267
Number of Cases Too Small               11600
No Different Than the National Value     2708
Better Than the National Rate            1018
Worse Than the National Rate             1012
Worse Than the National Value             171
Better Than the National Value             85
Name: Compared to National, dtype: int64

In [7]:
# Check the number of rows and columns
df.shape

(90801, 18)

In [8]:

# General overview of the dataset
print("Data Info:")
df.info()

print("\nColumns in the dataset:")
print(df.columns)

# Check for missing values
print("\nMissing values in each column:")
print(df.isnull().sum())

# Get a summary of the 'Score' column
print("\nSummary Statistics for 'Score':")
print(df['Score'].describe())

# Check the distribution of the 'Compared to National' column (target variable)
print("\nDistribution of 'Compared to National':")
print(df['Compared to National'].value_counts())

# Check the number of rows and columns
print("\nShape of the dataset:")
print(df.shape)

# Get the unique values in 'State'
print("\nUnique States:")
print(df['State'].unique())

# Handle datetime columns (if necessary)
df['Start Date'] = pd.to_datetime(df['Start Date'])
df['End Date'] = pd.to_datetime(df['End Date'])

# Check the date range
print("\nDate Range of 'Start Date':")
print(df['Start Date'].min(), df['Start Date'].max())

Data Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90801 entries, 0 to 90800
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Facility ID           90801 non-null  object
 1   Facility Name         90801 non-null  object
 2   Address               90801 non-null  object
 3   City/Town             90801 non-null  object
 4   State                 90801 non-null  object
 5   ZIP Code              90801 non-null  int64
 6   County/Parish         90801 non-null  object
 7   Telephone Number      90801 non-null  object
 8   Measure ID            90801 non-null  object
 9   Measure Name          90801 non-null  object
 10  Compared to National  90801 non-null  object
 11  Denominator           90801 non-null  object
 12  Score                 90801 non-null  object
 13  Lower Estimate        90801 non-null  object
 14  Higher Estimate       90801 non-null  object
 15  Footnote              42363 non-null  object
 16  Start Date            90801 non-null  object
 17  End Date              90801 non-null  object
dtypes: int64(1), object(17)
memory usage: 12.5+ MB

Columns in the dataset:
Index(['Facility ID', 'Facility Name', 'Address', 'City/Town', 'State',
       'ZIP Code', 'County/Parish', 'Telephone Number', 'Measure ID',
       'Measure Name', 'Compared to National', 'Denominator', 'Score',
       'Lower Estimate', 'Higher Estimate', 'Footnote', 'Start Date',
       'End Date'],
      dtype='object')

Missing values in each column:
Facility ID                 0
Facility Name               0
Address                     0
City/Town                   0
State                       0
ZIP Code                    0
County/Parish               0
Telephone Number            0
Measure ID                  0
Measure Name                0
Compared to National        0
Denominator                 0
Score                       0
Lower Estimate              0
Higher Estimate             0
Footnote                48438
Start Date                  0
End Date                    0
dtype: int64

Summary Statistics for 'Score':
count             90801
unique             3269
top       Not Available
freq              41867
Name: Score, dtype: object

Distribution of 'Compared to National':
No Different Than the National Rate     43940
Not Available                           30267
Number of Cases Too Small               11600
No Different Than the National Value     2708
Better Than the National Rate            1018
Worse Than the National Rate             1012
Worse Than the National Value             171
Better Than the National Value             85
Name: Compared to National, dtype: int64

Shape of the dataset:
(90801, 18)

Unique States:
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'CT' 'DE' 'DC' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MA' 'MI' 'MN' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'PR' 'RI' 'SC'
 'SD' 'TN' 'TX' 'UT' 'VT' 'VI' 'VA' 'WA' 'WV' 'WI' 'WY' 'AS' 'GU' 'MP']

Date Range of 'Start Date':
2020-07-01 00:00:00 2021-07-01 00:00:00